/* ProjectsStyles.module.css */
.container {
  padding: 20px;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the project cards */
}

.sectionTitle {
  text-align: center; /* Center the heading text */
  margin-bottom: 20px;
}
