.container {
  display: flex;
  padding: 90px 0;
  margin-bottom: -250px;
  flex-direction: column;
  text-align: center;
}
.projectsContainer {
  margin-top: -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the project cards */
}

@media (width >= 1500px) {
  .projectsContainer {
    margin-top: -50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the project cards */
  }
}
