/* HeaderStyles.module.css */
.header {
  background-color: black; /* Add a background color */
  color: var(--text-color);
  padding: 25px 0; /* Reduce padding to reduce the gap */
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: end;
  padding-right: 9vw;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 30px;
}

.navItem a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.navItem a:hover {
  color: var(--primary-color);
}
